<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
		<sectionGroup name="userSettings"
                type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Impressio.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
			<section name="RapeDigital.Properties.Settings"
            type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
            allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Impressio.Properties.Settings>
   <setting name="User" serializeAs="String">
    <value>Fabrizio</value>
   </setting>
   <setting name="loggerEngine" serializeAs="String">
    <value>file</value>
   </setting>
   <setting name="logPath" serializeAs="String">
    <value>
					C:\Users\bizzi\Desktop\Development\AAA Digital Rape
				</value>
   </setting>
   <setting name="folderPath" serializeAs="String">
    <value>
					C:\Users\bizzi\testfolder\
				</value>
   </setting>
   <setting name="lookAndFeel" serializeAs="String">
    <value>Black</value>
   </setting>
   <setting name="logoImage" serializeAs="String">
    <value />
   </setting>
  </Impressio.Properties.Settings>
		<RapeDigital.Properties.Settings>
			<!-- connection string to your database -->
			<setting name="connectionString" serializeAs="String">
				<value>
					Server=bizzi_asus\SQLEXPRESS;Database=foernuft;User Id=user;Password=2104;
				</value>
			</setting>
			<!-- path to your log File -->
			<setting name="logPath" serializeAs="String">
				<value>
					C:\Users\bizzi\Desktop\Development\AAA Digital Rape
				</value>
			</setting>
			<!-- if true your will get e msg Box with the exception thrown by the code otherwise it will only get written to logg -->
			<setting name="exceptionMode" serializeAs="String">
				<value>True</value>
			</setting>
			<!-- user name which will be saved in the database -->
			<setting name="User" serializeAs="String">
				<value>Fabrizio</value>
			</setting>
			<!-- path to your data -->
			<setting name="folderPath" serializeAs="String">
				<value>
					C:\Users\bizzi\testfolder\
				</value>
			</setting>
			<!-- databaseEngine you wish to use - supported are mssql (microsoft) // posql (postgres) // compact (compactSql) -->
			<setting name="databaseEngine" serializeAs="String">
				<value>mssql</value>
			</setting>
			<!-- select the loggerEngine you wish to use - supported are file or database -->
			<setting name="loggerEngine" serializeAs="String">
				<value>file</value>
			</setting>
		</RapeDigital.Properties.Settings>
	</userSettings>
</configuration>